@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}
body {
  color: #ffffff;
  background: #000000;
}

@font-face {
  font-family: "MajorMonoDisplay";
  src: url("/fonts/MajorMonoDisplay-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "DMSerifDisplay-Regular";
  src: url("/fonts/DMSerifDisplay-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Tusker";
  src: url("/fonts/TuskerGrotesk-2600Semibold.ttf") format("truetype");
}
